/* color palette */
:root {
  --var-azure: #0084fd;
  --text-planning: #272727;
  --bg-violet: #9792e4;
  --card-babyblue: #b5ddff;
  --text-cta: #fdc15f;
  --var-gray: #5e7384;
  --var-white: #ffffff;
}

/* #region common rules*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
/* #endregion */

/* #region utility */

.container {
  width: 70%;
  max-width: 1200px;
  margin: 0 auto;
}

.container_sm {
  width: 60%;
  max-width: 1200px;
  margin: 0 auto;
}
section {
  padding: 2rem 0;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}

.btn {
  background-color: var(--var-white);
  padding: 0.5rem 1rem;
}
.text_center {
  text-align: center;
}

/* #region column */
.col_1 {
  width: calc(100% / 12 * 1);
}
.col_2 {
  width: calc(100% / 12 * 2);
}
.col_3 {
  width: calc(100% / 12 * 3);
}
.col_4 {
  width: calc(100% / 12 * 4);
}
.col_5 {
  width: calc(100% / 12 * 5);
}
.col_6 {
  width: 50%;
}
.col_7 {
  width: calc(100% / 12 * 7);
}
.col_8 {
  width: calc(100% / 12 * 8);
}
.col_9 {
  width: calc(100% / 12 * 9);
}
.col_10 {
  width: calc(100% / 12 * 10);
}
.col_11 {
  width: calc(100% / 12 * 11);
}
.col_12 {
  width: 100%;
}
/* #endregion column */

/* #region flex */
.d_flex {
  display: flex;
}
.row {
  display: flex;
  margin: 0 -1rem;
}
[class^="col_"] {
  padding: 1rem;
}
.gap1 {
  gap: 1rem;
}
.wrap {
  flex-wrap: wrap;
}
.column {
  flex-direction: column;
}
.sp_b {
  justify-content: space-between;
}
.al_center {
  align-self: center;
}
.flex_start {
  justify-content: flex-start;
}
.flex_end {
  justify-content: flex-end;
}
.flex_center {
  justify-content: center;
}
/* #endregion flex */

/* #region debug */

/* #region header_debug */
.debug #site_header {
  padding: 0.5rem 0;
  background-color: var(--var-azure);
}
/* #endregion header_debug */

/* #region main_debug */
.debug [class^="col"] {
  height: 300px;
  border: 1px solid var(--card-babyblue);
}

.debug .planning,
.debug .benefits,
.debug .cta {
  background-color: var(--bg-violet);
}
/* #endregion main_debug */

/* #region footer_debug */
.debug footer {
  height: 300px;
  background-color: var(--text-planning);
}
/* #endregion footer_debug */

/* #endregion debug */

/* #region header */
#site_header {
  background-color: var(--var-azure);
}
header .container {
  padding: 1rem 0;
}
header li a {
  color: var(--var-white);
  font-weight: 300;
}
header li {
  padding-left: 2rem;
}

.btn_start {
  color: var(--text-planning);
  border-radius: 1.5rem;
}
/* #endregion header */

/* #region main */
/* #region what we do section */
.blue-box {
  background-color: var(--card-babyblue);
  border-radius: 2rem;
  padding: 1rem;
  height: 100%;
}
.phone {
  margin-bottom: -2rem;
  padding-right: 4rem;
}
.phone img {
  padding-top: 4rem;
  width: 80%;
}
.what_we_do h2,
.what_we_do i {
  color: var(--var-azure);
}
.what_we_do h2 {
  padding: 0rem 0 2rem 0;
  font-size: 1.4rem;
  font-weight: 600;
}
.what_we_do .wwdicon {
  font-size: 5.5rem;
  padding: 2rem;
}
.what_we_do p {
  font-weight: 500;
  color: var(--var-gray);
  line-height: 160%;
  font-size: 1rem;
  letter-spacing: 0.06rem;
}
.what_we_do .col_6 p {
  padding-bottom: 5rem;
}
.btn_apple {
  padding: 0.8rem 5rem;
  background-color: var(--var-azure);
  color: white;
  border-radius: 2rem;
}
.btn_apple i {
  color: white;
  font-size: 1.3rem;
}
.btn_apple {
  font-size: 1.1rem;
}
/* #enregion what we do section */
