/* color palette */
:root {
  --var-azure: #0084fd;
  --text-planning: #272727;
  --bg-violet: #9792e4;
  --card-babyblue: #b5ddff;
  --text-cta: #fdc15f;
  --var-gray: #5e7384;
  --var-white: #ffffff;
}

/* #region common rules*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}
/* #endregion */

/* #region container */
.container {
  width: 70%;
  max-width: 480px;
  margin: 0 auto;
}
/* #endregion container */

/* #region flex rules */
.d_flex {
  display: flex;
}
.row {
  display: flex;
  margin: 0 -1rem;
}
[class^="col_"] {
  padding: 1rem;
}
.wrap {
  flex-wrap: wrap;
}
.column {
  flex-direction: column;
}
.space_between {
  justify-content: space-between;
}
.justify_start {
  justify-content: flex-start;
}
.justify_end {
  justify-content: flex-end;
}
.justify_center {
  justify-content: center;
}
.align_center {
  align-items: center;
}
.align_start {
  align-items: flex-start;
}
.align_end {
  align-items: flex-end;
}
/* #endregion flex rules */

/* #region column */
.col_1 {
  width: calc(100% / 12 * 1);
}
.col_2 {
  width: calc(100% / 12 * 2);
}
.col_3 {
  width: calc(100% / 12 * 3);
}
.col_4 {
  width: calc(100% / 12 * 4);
}
.col_5 {
  width: calc(100% / 12 * 5);
}
.col_6 {
  width: 50%;
}
.col_7 {
  width: calc(100% / 12 * 7);
}
.col_8 {
  width: calc(100% / 12 * 8);
}
.col_9 {
  width: calc(100% / 12 * 9);
}
.col_10 {
  width: calc(100% / 12 * 10);
}
.col_11 {
  width: calc(100% / 12 * 11);
}
.col_12 {
  width: 100%;
}
/* #endregion column */

/* region utility */
header {
  background-color: var(--var-azure);
}
footer{
  background-color: var(--text-planning);
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  display: inline-block;
}
section {
  padding: 2rem 0;
}
img {
  max-width: 100%;
}
.planning {
  background-color: var(--bg-violet);
}
.text_center {
  text-align: center;
}
.card {
  border-radius: 2rem;
}

/* #region button */
[class^="btn"] {
  border-radius: 2rem;
  text-align: center;
  font-weight: 700;
}
.btn {
  padding: 0.5rem 1rem;
}
.btn_large {
  padding: 1.5rem 2rem;
}
.white {
  background-color: var(--var-white);
}
.azure {
  background-color: var(--var-azure);
}
.violet {
  background-color: var(--bg-violet);
}
.t_black {
  color: black;
}
.t_white {
  color: var(--var-white);
}
/* #endregion button */

/* #region header */
header .container {
  padding: 1rem 0;
}

.menu {
  display: none;
}
.menu li {
  padding-left: 2rem;
}
.menu li a:not(.btn) {
  color: var(--var-white);
  font-weight: 300;
}

.condensed_menu {
  color: var(--var-white);
  font-size: 1.5rem;
}
/* #endregion header */

/* #region main */

/* #region what we do */
.what_we_do .card {
  background-color: var(--card-babyblue);
  padding: 1.5rem;
  height: 100%;
}
.col_lg_6 {
  padding: 0;
}
.what_we_do h2,
.what_we_do i {
  color: var(--var-azure);
}
.what_we_do p {
  color: var(--var-gray);
  font-weight: 700;
  padding: 2rem 0;
  line-height: 160%;
  font-size: 1rem;
  letter-spacing: 0.06rem;
}
.what_we_do i {
  padding: 2rem 0;
  font-size: 4.5rem;
}
.what_we_do .app_store {
  padding: 0.5rem 3.5rem;
}
.what_we_do .fa-apple {
  font-size: 1.2rem;
  color: white;
  padding: 0;
}
.phone {
  margin-bottom: -1.8rem;
}
/* #endregion what_we_do */

/* #region planning */
.st_plan {
  color: var(--var-white);
  padding-bottom: 2rem;
}
.st_plan img {
  padding: 4rem 0 8rem 0;
}
.st_plan h2 {
  font-size: 1.7rem;
}
.st_plan p {
  padding: 2rem 0;
  font-weight: 300;
  line-height: 160%;
  font-size: 1rem;
  letter-spacing: 0.06rem;
}
.planning .card {
  background-color: white;
  padding: 2rem;
}
.planning .card > * {
  padding: 1rem 0;
}
.planning .card p {
  font-weight: 300;
  line-height: 160%;
  font-size: 1rem;
  letter-spacing: 0.06rem;
  font-style: italic;
}
.planning .card .fa-arrow-down {
  background-color: var(--bg-violet);
  border-radius: 50%;
  font-size: 1rem;
  padding: 1rem;
}
/* #endregion planning */

/* #region testimonials */
.testimonials .heading > * {
  padding: 1rem 0;
}

.testimonials .heading p {
  text-transform: uppercase;
}
.testimonials .heading h2 {
  color: var(--bg-violet);
  font-size: 2.5rem;
}
.testimonials .heading #description,
.card .info {
  text-transform: none;
  font-weight: 300;
  line-height: 190%;
  font-size: 1rem;
  letter-spacing: 0.09rem;
}
.testimonials .card {
  background-color: var(--bg-violet);
  padding: 1rem;
  color: white;
  margin: 1.5rem 0;
}
.testimonials .card > *,
.testimonials .card .info > * {
  padding: 0.5rem 0;
}
.propic img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
}
.card .info i {
  font-size: 1.5rem;
}
/* #endregion testimonials */

/* #region benefits */
.benefits {
  background-color: var(--bg-violet);
}
.benefits h1 {
  color: var(--var-white);
  font-size: 2.8rem;
  padding: 2rem;
}
.benefits .card {
  background-color: var(--var-white);
  padding: 2rem;
}
.benefits .card h2,
.benefits .card h3 {
  color: var(--bg-violet);
  font: 700;
}
.benefits .card h2 {
  font-size: 6rem;
}
.benefits .card h3 {
  font-size: 1.4rem;
}
.benefits .card p {
  line-height: 200%;
  letter-spacing: 0.06rem;
  color: var(--var-gray);
  font-size: 0.9rem;
  padding: 2rem 0;
}
.benefits .card a {
  font-size: 0.9rem;
  text-align: center;
  letter-spacing: 0.2rem;
  padding: 1rem 2.5rem;
}
/* #endregion benefits */
/* #region about us */
.about_us h1,
.about_us h2 {
  color: var(--bg-violet);
  padding: 2rem 0;
}
.about_us h1 {
  font-size: 3rem;
}
.about_us h2 {
  font-size: 2rem;
}
.about_us p {
  line-height: 160%;
  font-size: 1rem;
  letter-spacing: 0.06rem;
  padding-bottom: 3rem;
}
.propic_about {
  position: relative;
}
.propic_about img {
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  object-fit: cover;
}
.propic_about i {
  font-size: 3rem;
  color: var(--bg-violet);
  position: absolute;
  top: 1rem;
  left: 8rem;
}
.about_us a {
  font-weight: 400;
}
/* #endregion about us */

/* #region cta */
.cta {
  background-color: var(--bg-violet);
}
.cta .wrapper > * {
  padding: 1rem 0;
}
.cta .wrapper h2,
.cta .wrapper p,
.cta .wrapper a, 
.copyright span {
  color: white;
}
.cta h2 {
  font-size: 2rem;
}
.cta h1 {
  font-size: 5rem;
  color: var(--text-cta);
}
.cta_description {
  line-height: 190%;
  font-size: 1rem;
  letter-spacing: 0.09rem;
}
#btn_t_violet {
  color: var(--bg-violet);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}
/* #endregion cta */
/* #endregion main */

/* #region footer */
footer .container{
  color: var(--var-white);
  padding: 2rem 0;
}
footer .wrapper>*{
  padding: 1rem;
}
.footer_bottom a{
  text-decoration: underline;
  color: var(--bg-violet);
}
/* #region responsive */
@media screen and (min-width: 769px) {
  .container {
    max-width: 720px;
  }
  .col_tb_4 {
    width: calc(100% / 12 * 4);
  }
  .col_tb_6 {
    width: calc(100% / 12 * 6);
  }
  .col_tb_8 {
    width: calc(100% / 12 * 8);
  }
  .what_we_do .card:not(.col_tb_4 .card) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .testimonials .card {
    flex-direction: row;
    justify-content: space-between;
  }
  .card .info {
    text-align: left;
    padding: 1.3rem;
    flex-basis: 70%;
  }
  .wrapper{
    width: 80%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 1201px) {
  .container {
    max-width: 1140px;
  }
  .menu {
    display: flex;
  }
  .condensed_menu {
    display: none;
  }
  .col_lg_6 {
    width: calc(100% / 12 * 6);
  }
  .col_lg_4 {
    width: calc((100% / 12) * 4);
  }
  .planning .col_12 {
    padding-left: 8rem;
  }
  .planning .card {
    align-self: flex-end;
    width: 70%;
  }
  .card .info {
    flex-basis: 80%;
  }
  .wrapper {
    width: 50%;
    margin: 0 auto;
  }
}
/*#endregion responsive */
